body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes rollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes rollDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

#numberInput {
    border: none;
    text-align: center;
    width: 3rem;
    font-size: 2rem;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#numberInput.increment {
    animation-name: rollUp;
}

#numberInput.decrement {
    animation-name: rollDown;
}

#numberInput::-webkit-inner-spin-button,
#numberInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar-nav {
    width: 100%;
    justify-content: center;
}

.navbar-nav .nav-item {
    text-align: center;
}

h1 {
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 1rem
}